* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Be Vietnam', sans-serif;
  display: flex;
  flex-direction: column;
}

.container {

  background-image: url('./images/bg-tablet-pattern.svg'), url('./images/bg-tablet-pattern.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: 110% -10%, -45% 70%;

}

header {
  padding: 0 10vw 0 10vw;
  height: 100vh;

}

.btn {
  text-decoration: none;
  color: #fff;
  background-color: hsl(12, 88%, 59%);
  border-radius: 25px;
  padding: 15px 35px;
  box-shadow: hsl(12, 88%, 59%);
}



.menu {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.menu .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul {
  display: flex;
}

.menu ul>li {
  list-style: none;
  padding: 0px 20px;
  font-weight: 600;
  color: hsl(228, 39%, 23%);
}

.landing {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-top: 20vh;
}

.landing .description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;

}

.description h1 {
  max-width: 37vw;
  font-size: 70px;
  font-weight: bold;
  line-height: 1;
  color: hsl(228, 39%, 23%);
}

.description p {
  max-width: 27vw;
  font-size: 1.5rem;
  color: hsl(227, 12%, 61%);
}

.description a {
  display: inline-block;
}

.feature {
  padding: 0 10vw 0 10vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10vh;

}

.manage h2 {
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 30px;
  color: hsl(228, 39%, 23%);
}

.manage p {
  max-width: 27vw;
  font-size: 1.5rem;
  color: hsl(227, 12%, 61%);
}



.details {
  display: grid;
  grid-template-areas: 'detail-left detail-right';

}

.detail-left {
  grid-area: 'detail-left';
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 2rem;
}

.detail-left a {
  font-size: 1rem;
  font-weight: bold;

}

.detail-right {
  grid-area: 'detail-right';
  display: flex;
  flex-direction: column;
  padding-top: 0.4rem;
}

.detail-right h3 {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  color: hsl(228, 39%, 23%);
}

.detail-right p {
  max-width: 50vw;
  font-size: 1.3rem;
  color: hsl(227, 12%, 61%);
}

.avata {
  color: hsl(228, 39%, 23%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}

.avata h2 {
  font-size: 55px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.card img {
  width: 150px;
}

.card small {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px 0px;
}

.card p {
  max-width: 50vw;
  font-size: 1.3rem;
  color: hsl(227, 12%, 61%);
}

.buttom {
  height: 50vh;
  background-color: hsl(12, 88%, 59%);
  background-image: url('./images/bg-simplify-section-desktop.svg');
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10vw 0 10vw;
}

.buttom h1 {
  font-size: 50px;
  max-width: 40vw;
  font-weight: bold;
  color: #fff;

}

.btn-red {
  width: 160px;
  height: 50px;
  background: #fff;
  font-weight: bold;
  color: hsl(12, 88%, 59%);
}

footer {
  height: 50vh;
  padding: 0px 10vw 0 10vw;
  background-color: hsl(233, 12%, 13%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.socials .social {
  display: flex;
  align-items: center;
}

.socials .social img:not(:first-child) {
  padding: 0px 20px;
}

.links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 0px;
}

.links ul>li {
  list-style: none;
  color: #fff;
  padding: 20px 0px;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cta .input-area {
  display: flex;
  align-items: center;
}

.input-area input {
  width: 160px;
  height: 50px;
  border-radius: 15px;
}

.input-area input::-webkit-input-placeholder {
  color: hsl(227, 12%, 61%);
}

.input-area a {
  margin-left: 20px;
}

.copy {
  color: #fff;
  text-align: right;
}